<h1>マイページ</h1>
<p>メールアドレス : <%= @user.email %></p>
<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>商品名</th>
      <th>ジャンル</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% if @user.items.present? %>
      <% @user.items.each do |item| %>
        <tr>
          <td><%= image_tag item.image %></td>
          <td><%= item.name %></td>
          <td><%= item.genre %></td>
          <td><%= link_to "x", item_path(item), method: :delete, data: {confirm: "削除しますか？"} %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>